#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 450px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.review-text {
  font-size: 12px;
  color: white;
  /* padding-top: 10px; */
}
.Swiper-main {
  background-color: #06187c;
}
.review-name {
  color: tomato;
  text-align: center;
  font-weight: 900;
  padding-top: 3px;
}
