@media only screen and (max-width: 600px) {
  .sectionbanner {
    width: 80%;
    height: 80%;
  }
}
@media only screen and (min-width: 992px) {
  .sectionbanner {
    width: 80%;
    height: 80%;
  }
}
