.menu-item a {
  text-decoration: none;
  margin-right: 30px;
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Merriweather", serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.item:hover {
  /* background-color: aliceblue; */
  color: tomato;
  transition: all 0.3s;
  text-decoration: underline;
}
.dasbordmenu a:hover {
  color: tomato;
  transition: all 0.3s;
  text-decoration: underline;
}
.titlele-Head {
  font-family: "Dancing Script", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Merriweather", serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

/* responsiveness for mobile */
@media screen and (max-width: 600px) {
  .user {
    flex-direction: column;
  }
  .user-img {
    margin-left: 150px;
  }
  .menu-item a {
    margin-right: 0;
  }
}
